* {
    margin: 0;
    padding: 0;
  }
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #app {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .time-container {
    display: flex;
    margin: 20px 0;
  }
  
  .each-time-container > input {
    border: none;
    font-size: 48px;
    width: 90px;
    outline: none;
  }
  .each-time-container > p {
    font-size: 24px;
  }
  .colon {
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    padding-right: 20px;
    font-size: 30px;
  }
  .btn {
    width: 92px;
    padding: 8px 20px;
    border-radius: 6px;
    border: none;
  }
  .start-btn {
    background-color: green;
    color: white;
  }
  .stop-btn {
    background-color: red;
    color: white;
    display: none;
  }
  .reset-btn {
    background-color: orange;
    color: white;
  }
  